<head>

  <link href="assets/css/materialize.css" rel="stylesheet">
  <!-- google is unavabile in china-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="assets/js/materialize.js"></script>
  <script src="assets/css/done.css"></script>
</head>

<body>
{{outlet}}
</body>