<div class="container">
  <div class="row">

    {{#side-nav projects=model.projects}}{{/side-nav}}


    <div class="col m9 s12">
      <div id="page-content" class="container">
        <div class="row">
          <div class="input-field col s12">
            <input id="new-task" v-model="newTask" type="text">
            <label id="input-name" for="new-task">{{ name }}</label>
          </div>
        </div>

        <div id="task-list" class="collection">
          <a href="#modal" class="collection-item" v-for="task in tasks">
            {{ task.name }}
          </a>
        </div>
      </div>
    </div>

  </div>
</div>


<!-- Modal Structure -->
<div id="modal" class="modal">
  <div class="modal-content">
    <div class="clock" style="margin:2em;"></div>
  </div>
  <div class="modal-footer">

    <button id="cancel-timer"
            class="waves-effect waves-green btn-flat btn-block">取消
    </button>
    <button id="start-timer"
            class="waves-effect waves-green btn-flat btn-block">开始
    </button>
  </div>
</div>